<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Server Roles-->
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Want to Help?</h4>
                <p class="lead mb-0">
                    This website was created as a practice project.
                    <br />
                    If you would like to contribute or simply view the source code, check the --info-- channel or ask @ViewBag.Username for more details.
                </p>
            </div>

            <!-- Footer Contact Text-->
            <div class="col-lg-6">
                <h4 class="text-uppercase mb-4">Admin Contact</h4>
                <p class="lead mb-0">
                    
                </p>
            </div>
        </div>
    </div>
</footer>