@{
    ViewData["Title"] = "Server Rules";
}


<main>


    <!--TODO maybe?: keep this list as rules list and change section after this to describe roles and stuff-->
    <!--Rules list-->
    <div class="container-lg my-1">
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">General Rules</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Voice Chat</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Contact</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
                </div>
            </div>


            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                        <h2>General Rules</h2>
                        <h5>These rules apply to any part of the server, whether that be voice or text channel</h5>

                        <ol class="list-group list-group-flush">
                            <li class="list-group-item">Keep everything PG - bad words and other inappropriate language/content will be deleted and can lead to mute, kick, or ban</li>
                            <li class="list-group-item">No racism, discrimination, toxic behavior, or hate speech in any way, shape, or form</li>
                            <li class="list-group-item">No spamming, repetitive content, nor excessive pings</li>
                            <li class="list-group-item">Try to keep everything relevant to each channel topic. If the conversation shifts, don't worry too much about it but a mod might let everyone know if its too off-topic</li>
                            <li class="list-group-item">Obey the staff</li>
                            <li class="list-group-item">Avoid inappropriate nicknames (mods or admins will determine this)</li>
                            <li class="list-group-item">No doxing, or gathering people's private information</li>
                            <li class="list-group-item">Try to avoid controversial issues (if they come up they will be dealt with accordingly)</li>
                            <li class="list-group-item">You don't have to be nice, just don't get personal (in other words, Its just a joke dude)</li>
                            <li class="list-group-item">If someone asks you to "stop", please do so</li>
                        </ol>
                    </div>

                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <h2>Voice Chat Rules</h2>
                        <h3>In addition </h3>
                        <ol class="list-group list-group-flush">
                            <li class="list-group-item">Unless everyone in the call is okay with it, please keep music in its respective channel</li>
                            <li class="list-group-item">Think before you <span class="font-italic">earrape</span> (aka being too loud). We don't have a problem with it for the most part, but it can get annoying if overdone</li>
                            <li class="list-group-item">Depending on the occasion, you and the participants in a call may want to turn on your cameras and/or share your screen. It is purely up to each individual to decide if they want to show their face or not, and what they want us to see on their screen</li>
                        </ol>
                    </div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Rules Section-->
    <section class="page-section rules" id="rules">
        <div class="container">
            <!-- Rules Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Server Rules</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>

                <h2><i class="bi bi-megaphone"></i></h2>

                <div class="divider-custom-line"></div>
            </div>

            <!--TODO: Make grid items work-->
            <!--TODO: Copy CSS from freelancer repo-->
            *
            <!-- Rules Grid Items-->
            <div class="row justify-content-center">
                <!-- Rules Item 1-->
                <div class="col-md-6 col-lg-4 mb-5 align-self-center">
                    <div class="rules-item mx-auto" data-bs-toggle="modal" data-bs-target="#rulesModal1">
                        <div class="rules-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="rules-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>

                        <img class="img-fluid" src="../img/safe.png" alt="Alternate Text" />

                    </div>
                </div>
                <!-- Rules Item 2-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="rules-item mx-auto" data-bs-toggle="modal" data-bs-target="#rulesModal2">
                        <div class="rules-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="rules-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/rules/cake.png" alt="..." />
                    </div>
                </div>
                <!-- Rules Item 3-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="rules-item mx-auto" data-bs-toggle="modal" data-bs-target="#rulesModal3">
                        <div class="rules-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="rules-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/rules/circus.png" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- rules Modals-->
    <!-- rules Modal 1-->
    <div class="rules-modal modal fade" id="rulesModal1" tabindex="-1" aria-labelledby="rulesModal1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- rules Modal - Title-->
                                <h2 class="rules-modal-title text-secondary text-uppercase mb-0">General Rules</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- rules Modal - Image-->
                                <!-- rules Modal - Text-->
                                <ol class="list-group list-group-flush">
                                    <li class="list-group-item">Keep everything PG - bad words and other inappropriate language/content will be deleted and can lead to mute, kick, or ban</li>
                                    <li class="list-group-item">No racism, discrimination, toxic behavior, or hate speech in any way, shape, or form</li>
                                    <li class="list-group-item">No spamming, repetitive content, nor excessive pings</li>
                                    <li class="list-group-item">Try to keep everything relevant to each channel topic. If the conversation shifts, don't worry too much about it but a mod might let everyone know if its too off-topic</li>
                                    <li class="list-group-item">Obey the staff</li>
                                    <li class="list-group-item">Avoid inappropriate nicknames (mods or admins will determine this)</li>
                                    <li class="list-group-item">No doxing, or gathering people's private information</li>
                                    <li class="list-group-item">Try to avoid controversial issues (if they come up they will be dealt with accordingly)</li>
                                    <li class="list-group-item">You don't have to be nice, just don't get personal (in other words, Its just a joke dude)</li>
                                    <li class="list-group-item">If someone asks you to "stop", please do so</li>
                                </ol>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rules Modal 2-->
    <div class="rules-modal modal fade" id="rulesModal2" tabindex="-1" aria-labelledby="rulesModal2" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- rules Modal - Title-->
                                <h2 class="rules-modal-title text-secondary text-uppercase mb-0">Tasty Cake</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- rules Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="assets/img/rules/cake.png" alt="..." />
                                <!-- rules Modal - Text-->
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rules Modal 3-->
    <div class="rules-modal modal fade" id="rulesModal3" tabindex="-1" aria-labelledby="rulesModal3" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- rules Modal - Title-->
                                <h2 class="rules-modal-title text-secondary text-uppercase mb-0">Circus Tent</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- rules Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="assets/img/rules/circus.png" alt="..." />
                                <!-- rules Modal - Text-->
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rules Modal 4-->
    <div class="rules-modal modal fade" id="rulesModal4" tabindex="-1" aria-labelledby="rulesModal4" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- rules Modal - Title-->
                                <h2 class="rules-modal-title text-secondary text-uppercase mb-0">Controller</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- rules Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="assets/img/rules/game.png" alt="..." />
                                <!-- rules Modal - Text-->
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rules Modal 5-->
    <div class="rules-modal modal fade" id="rulesModal5" tabindex="-1" aria-labelledby="rulesModal5" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- rules Modal - Title-->
                                <h2 class="rules-modal-title text-secondary text-uppercase mb-0">Locked Safe</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- rules Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="assets/img/rules/safe.png" alt="..." />
                                <!-- rules Modal - Text-->
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rules Modal 6-->
    <div class="rules-modal modal fade" id="rulesModal6" tabindex="-1" aria-labelledby="rulesModal6" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- rules Modal - Title-->
                                <h2 class="rules-modal-title text-secondary text-uppercase mb-0">Submarine</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- rules Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="assets/img/rules/submarine.png" alt="..." />
                                <!-- rules Modal - Text-->
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>