<!--TODO: replace this landing page with alert on index that tells user their auth failed-->

<h1>ummm... who the heck is you?</h1>

<h3>Your account couldn't be authenticated</h3>
<p>Try again or begone</p>