<section class="page-section" id="testimonials">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-black mt-0">What others have said</h2>
                <hr class="divider bg-primary" />
            </div>
            <div class="col-10">
                <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-bs-target="#testimonialCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></li>
                        <li data-bs-target="#testimonialCarousel" data-bs-slide-to="1" aria-label="Slide 2"></li>
                        <li data-bs-target="#testimonialCarousel" data-bs-slide-to="2" aria-label="Slide 3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <!--TODO: ALIGN CARDS AND ADD QUOTES FROM PEOPLE-->
                        <div class="carousel-item active">
                            <div class="card align-content-center" style="width: 18rem;">
                                <img class="card-img-top" src="https://www.denofgeek.com/wp-content/uploads/2021/06/star-wars-revenge-of-the-sith-obi-wan-lucasfilm.jpg?resize=768%2C432" alt="Alternate Text" />
                                <div class="card-body">
                                    <h5 class="card-title">First Card</h5>
                                    <p class="card-text">This is the card text for this card</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card col-lg-8" style="width: 18rem;">
                                <img class="card-img-top" src="https://preview.redd.it/1mqqw5luvyj71.jpg?auto=webp&s=0f57fa89ebb478305d5e79b072998a5c6ab1e460" alt="Alternate Text" />
                                <div class="card-body">
                                    <h5 class="card-title">Second Card</h5>
                                    <p class="card-text">This is the card text for this card</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card col-lg-8" style="width: 18rem;">
                                <img class="card-img-top" src="https://images.immediate.co.uk/production/volatile/sites/3/2019/12/Episode_III_Revenge_Christensen07-8bbd9e4.jpg?webp=true&quality=90&resize=620%2C413" alt="Alternate Text" />
                                <div class="card-body">
                                    <h5 class="card-title">Third Card</h5>
                                    <p class="card-text">This is the card text for this card</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a class="carousel-control-prev" role="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>

                    <a class="carousel-control-next" role="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>