<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0c5365b4-a502-4904-be69-03e19b7aa8b3/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/Order66exe</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://order66exe.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>4d3daff7-6eb6-48f8-9586-1c5c46810423</ProjectGuid>
    <PublishUrl>https://order66exe.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Order66exe</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>